.container{
    width: 200px;
    height: 200px;
    border: 2px solid #4f4d4d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 10px 0;
    vertical-align: center;
    border-radius: 10px;
    background: #EEE;
    margin: 10px;
    color: #303841;
    box-shadow: 3px 3px 8px rgba(90, 84, 84, 0.9);
    transition: 0.4s;
}

.container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    flex-grow: 2;
}

.middle {
    height: 2px;
    width: 100%;
    background: #4f4d4d;
}

.container:hover {
    box-shadow: 3px 3px 10px 5px rgba(90, 84, 84, 0.9);
    background: #ffff;

}


