.logoutContainer {
    padding: 5px 5px 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.logoutContainer button {
    display: inline-block;
    padding: 3px 10px;
    color: #6d3654;
    cursor: pointer;
    font-size: 0.7rem;
    font-weight: bold;
    font-family: inherit;
    border: 2px solid;
    border-radius: 10px;
    background: #eef;

}

.logoutContainer button:hover {
    box-shadow: 0 0 2px 5px #999191;

}
